<div class="col-md-4 sidebar-32">
  <h1 class="h1-strong">Hola {{identity.name}}</h1>
</div>

<div id="user-card" class="col-md-4 panel panel-default pull-left">

  <div class="avatar pull-left">
    <img class="img-thumbnail"  src="{{url + 'get-image-user/' + identity.image}}" *ngIf="identity.image"/>
    <img src="assets/nouserimg.png" *ngIf="!identity.image"/>
  </div>

  <div class="name-surname pull-left">
    <a href="#" class="user-name">
      {{identity.name + ' ' + identity.surname}}
    </a>
    <p class="nickname">{{identity.nick}}</p>
    <div class="clearfix"></div>
  </div>



  <div class="clearfix"></div>

  <div class="stats" *ngIf="stats">

    <div class="following-data">
      <a href="#">
        <span class="label-stats">
          Siguiendo
        </span>
        <span class="number-stats">
          {{stats.following}}
        </span>
      </a>
    </div>

    <div class="following-data">
      <a href="#">
        <span class="label-stats">
          Seguidores
        </span>
        <span class="number-stats">
          {{stats.followed}}
        </span>
      </a>
    </div>

    <div class="following-data">
      <a href="#">
        <span class="label-stats">
          Publicaciones
        </span>
      <span class="number-stats">
          {{stats.publications}}
      </span>
      </a>
     </div>
  </div>

</div>

<!--Formulario de publicaciones-->
<div id="new-publication" class="col-mg-4 pull-left panel panel-default">
  <form #newPubForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
    <p>
      <label>¿Qué estas pensando hoy?</label>
      <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control" required></textarea>
      <span *ngIf="!text.valid && text.touched">EL texto de la publicación es obligatorio.</span>
    </p>
    <p>
      <label>Sube tu foto</label>
      <input type="file" placeholder="Subir imagen">
    </p>
    <input type="submit" value="Enviar" class="btn btn-success" [disabled]="!newPubForm.valid">
  </form>
</div>
